// Background colors
$lightmode-bg-white: white; 
$darkmode-bg-purple: #341931;
$gradient-bg: linear-gradient(50deg, #EE0979 0%, #FF6A00 100%);

// Font colors
$lightmode-font: #341931;
$darkmode-font: white;
$font-white: white;
$font-gradient: linear-gradient(100deg, #EE0979 0%, #FF6A00 60%);


// Accent colors
$accent-pink: #D70060;
$accent-orange: #F18D05;
$accent-darkorange: #E54028; 
$accent-yellow: #F2BC06;
$accent-green: #5EB11C;
$accent-darkgreen: #3A7634;
$accent-lightblue: #0ABEBE;
$accent-blue: #00A1CB;
$accent-darkblue: #115793;
$accent-darkpurple: #111625;
$accent-white: white;

// Button colors
$btn-gradient: linear-gradient(50deg, #EE0979 0%, #FF6A00 100%);
$lightmode-btn-selected: #341931;
$darkmode-btn-selected: white;

// Shadow colors
$shadow-none: #00000000;
$shadow-light: #00000025;
$shadow-medium: #00000040;
$shadow-hard: #00000080;
